<div class="testbox">
  <form class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" action="/">
    <div class="item">
      <p>Category</p>
      <select>
        <option value="">Select</option>
        <option value="1">Warrenty</option>
        <option value="2">Out of Warrenty</option>
        <option value="3">In Installation</option>
        <option value="4">Pending Amount</option>
        <option value="5">Corrective Action</option>
      </select>
    </div>
    <div class="item">
      <p>Date of complaint</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Client</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Client Contact Person</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Client Contact No</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Email</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Location</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Division</p>
       <select>
        <option value="">Select</option>
        <option value="1">BLPT(Unit 1)</option>
        <option value="2">DecBectochem(Unit 2)</option>
        <option value="3">Organics(Unit 3)</option>
        <option value="5">BCEPL Pune(Unit 4)</option>
        <option value="6">BAR(Unit 5)</option>
        <option value="7">Flex(Unit 6)</option>
        <option value="8">Agency(Unit 7)</option>
      </select>
    </div>
    <div class="item">
      <p>Wbs No.</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Status</p>
       <select>
        <option value="">Select</option>
        <option value="1">Created</option>
        <option value="2">In Progress</option>
        <option value="3">Completed</option>
      </select>
    </div>
    <a style="text-align:end;" href="installation" class="next">Next &raquo;</a>
  </form>
</div>





<!-- <div class="testbox">
  <form action="/">
    <div class="tab-content">
      <div id="basic" class="tab-pane fade in active admin-box">
    <label for="category">Category</label><br>
    <input type="radio" id="warranty" name="category" value="Warrenty">
    <label for="warranty">Warrenty</label>
    <input type="radio" id="outofwarranty" name="category" value="Out Of Warrenty">
    <label for="outofwarranty">Out of Warrenty</label>
    <input type="radio" id="ininstallation" name="category" value="ininstallation">
    <label for="ininstallation">In Installation</label>
    <input type="radio" id="pending" name="category" value="pending">
    <label for="pending">Pending Amount</label>
    <input type="radio" id="corrective" name="category" value="corrective">
    <label for="corrective">Corrective Action</label><br>
    <div class="item">
      <p>Date</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Name</p>
      <input type="text" name="name" placeholder="First" />
      <input type="text" name="name" placeholder="Last" />
    </div>
    <label for="client">Client</label>
    <input type="text" id="clt" name="client" value=" "><br><br>
    <label for="clientcontactperson">Client Contact Person</label>
    <input type="text" id="cltcontper" name="clientcontper" value=" "><br><br>
    <label for="clientcontactno">Client Contact No</label>
    <input type="number" id="cltcontno" name="clientcontno" value=" "><br><br>
    <label for="Email">Email</label>
    <input type="email" id="email" name="email" value=" "><br><br>
    <label for="location">Location</label>
    <input type="text" id="location" name="location" value=" "><br><br>
    <label for="Division">Division</label>
    <input type="text" id="division" name="division" value=" "><br><br>
    <label for="wbs">WBS No</label>
    <input type="text" id="wbs" name="wbs" value=" ">
</div>
    </div>
  </form>
</div> -->

  