<div class="testbox">
  <form class="/">
    <div class="item">
      <p>Date of Dispatch</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Year of Manufacturing</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Start Date</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Completed Date</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>OEL Applicable</p>
    </div>
     <div class="question-answer">
        <label><input type="radio" value="none" name="OEL" />Yes</label>
        <label><input type="radio" value="none" name="OEL" />NO</label> 
      </div>
      <div class="item">
        <p>Process Applicable</p>
      </div>
       <div class="question-answer">
          <label><input type="radio" value="none" name="Process" />Yes</label>
          <label><input type="radio" value="none" name="Process" />NO</label> 
        </div>
      <div class="item">
        <p>Short Supply Target Date</p>
        <input type="date" name="name" required/>
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <p>Pre Installation Checklist Target Date</p>
        <input type="date" name="name" required/>
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
        <p>Technicion</p>
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="name" placeholder="NO"/>
      </div>
      <div class="item">
        <p>Site Manager</p>
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="name" placeholder="NO"/>
      </div>
      <a href="basic" class="previous">&laquo; Previous</a>
      <a href="new" class="next">Next &raquo;</a>
  </form>
</div>
