<div class="testbox">
  <form class="/">
    <div class="item">
      <p>Chargable</p>
    </div>
     <div class="question-answer">
        <label><input type="radio" value="none" name="chargable" />Yes</label>
        <label><input type="radio" value="none" name="chargable" />NO</label> 
      </div>
    
    <div class="item">
    <p>Offer to be submitted Target Date</p>
    <input type="date" name="name" required/>
    <i class="fas fa-calendar-alt"></i>
  </div>
  <div class="item">
    <p>Contact Of site</p>
    <input type="text" name="name"/>
  </div>
  <div class="item">
    <p>Coverd in Amc</p>
  </div>
  <div class="question-answer">
     <label><input type="radio" value="none" name="amc" />Yes</label>
     <label><input type="radio" value="none" name="amc" />NO</label> 
  </div>
  <div class="item">
    <p>Material Needed in Amc</p>
    <input type="text" name="name"/>
  </div>
  <a href="cost" class="previous">&laquo; Previous</a>
  </form>
</div>
