<div class="testbox">
  <form class="tab-content py-3 px-3 px-sm-0" class="/">
    <div class="item">
      <p>Date of complaint</p>
      <input type="date" name="name" required/>
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>Complaint Media</p>
       <select>
        <option value="">Select</option>
        <option value="1">Call</option>
        <option value="2">Email</option>
        <option value="3">Curtesy Visit</option>
      </select>
    </div>
    <div class="item">
      <p>Name Of Equipment</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Nature Of Complaint</p>
       <select>
        <option value="">Select</option>
        <option value="1">Mechanical</option>
        <option value="2">Electrical</option>
        <option value="3">Automation</option>
        <option value="4">Buy Back</option>
      </select>
    </div>
    <div class="item complaint-details">
      <p>Immidiate Corrective Action</p>
      <div class="complaint-details-item">
        <textarea rows="5"></textarea>
      </div>
    </div>
    <div class="item">
      <p>Responsible Person</p>
      <input type="text" name="name"/>
    </div>
    <a href="installation" class="previous">&laquo; Previous</a>
<a href="cost" class="next">Next &raquo;</a>
  </form>
</div>

<!-- <form>
  <label for="Compdt">Complaint Date</label>
  <input type="text" id="compdt" name="Complaintdate" value=" "><br><br>
  <label for="Compmed">Complaint Media</label>
  <input type="text" id="compmed" name="Complaintmedia" value=" "><br><br>
  <label for="Equipment">Name of Equipment</label>
  <input type="text" id="eqpnm" name="Equipmentname" value=" "><br><br>
  <label for="Compnatur">Nature of Complaint</label>
  <input type="textarea" id="compnatur" name="Complaintnature" value=" "><br><br>
  <label for="Action">Immidiate Corrective Action</label>
  <input type="textarea" id="action" name="Action" value=" "><br><br>
  <label for="Respper">Responsible Person</label>
  <input type="text" id="resper" name="Resperson" value=" "><br><br>
</form>
 -->