
<head><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<h1 style="margin-left: 20px; font-weight: bolder;">Bectochem</h1>
<div class="container">
 <div class="row">
   <div class="col-xs-12">
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-basic-tab" data-toggle="tab"  href="basic" role="tab" aria-controls="nav-Basic Details" aria-selected="true">Basic Details</a>
          <a class="nav-item nav-link" id="nav-installation-tab" data-toggle="tab" href="installation" role="tab" aria-controls="nav-New Installation" aria-selected="false">New Installation</a>
          <a class="nav-item nav-link" id="nav-new-tab" data-toggle="tab" href="new" role="tab" aria-controls="nav-New Complaint" aria-selected="false">New Complaint</a>
          <a class="nav-item nav-link" id="nav-cost-tab" data-toggle="tab" href="cost" role="tab" aria-controls="nav-Cost" aria-selected="false">Cost</a>
          <a class="nav-item nav-link" id="nav-after-tab" data-toggle="tab" href="after" role="tab" aria-controls="nav-after" aria-selected="false">After Sales</a>
        </div>
      </nav>
    </div>
 </div>   

</div>


<!-- <ul style="background-color: tomato;" class="nav nav-tabs">
    <li class="nav-item"><a class="navbar-brand nav-link"   href="basic">Basic Details</a></li>
    <li class="nav-item"><a class="navbar-brand nav-link"   href="installation">New Installation</a></li>
    <li class="nav-item"><a class="navbar-brand nav-link"   href="new">New Complaint </a></li>
    <li class="nav-item"><a class="navbar-brand nav-link"   href="cost">Cost</a></li>
    <li class="nav-item"><a class="navbar-brand nav-link"   href="after">After Sales </a></li>
</ul>
</div> -->
<router-outlet></router-outlet>