<div class="testbox">
  <form class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" class="/">
    <div class="item">
      <p>Amount</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Budget Planned</p>
      <input type="text" name="name"/>
    </div>
    <div class="item">
      <p>Budget Used</p>
      <input type="text" name="name"/>
    </div>
    <a href="new" class="previous">&laquo; Previous</a>
<a href="after" class="next">Next &raquo;</a>
  </form>
</div>
